<div>
  <span class="haircut-item__img-wrap" style="background-color: <%= haircut_background(haircut) %>;">
    <img class="haircut-image haircut-item__img" width="270" height="180" data-src="<%= haircut.photo(:normal) %>">
  </span>
  <span class="haircut-item__current-bid">
    <%= "Top Bid: " unless highest_bid(haircut) === "No bids yet" %>
    <%= highest_bid(haircut) %>
  </span>
</div>
<div class="haircut-item__body">
  <h4 class="haircut-item__name"><%= haircut.member %></h4>
  <span><%= haircut.about %></span>
</div>
