<% unless current_admin.present? %>
  <%= link_to show_haircut_path(haircut.url), class: "haircut-item open-haircut",
      id: "#{haircut.url}_haircut", data: { haircut: haircut.url } do %>
    <%= render partial: "/haircuts/haircut_item", locals: { haircut: haircut } %>
  <% end %>
<% else %>
  <div class="haircut-item" id="<%= haircut.url %>_haircut"
    data-haircut="<%= haircut.url %>">
    <%= render partial: "/haircuts/haircut_item", locals: { haircut: haircut } %>
  </div>
<% end %>
