<div>
  <span class="haircut-item__img-wrap">
    <%= image_tag(photo_url(haircut), width: "364", height: "242", class: "haircut-item__img") %>
  </span>
  <span class="haircut-item__current-bid">
    <%= "Top Bid: " unless highest_bid(haircut) === "No bids yet" %>
    <%= highest_bid(haircut) %>
  </span>
</div>
<div class="haircut-item__body">
  <h4 class="haircut-item__name"><%= haircut.member %></h4>
  <span><%= haircut.about %></span>
</div>
