<section class="edit-haircut">
  <div class="container">
    <div class="edit-haircut__inner-wrapper">
      <h1 class="heading heading--small">Edit <%= @haircut.member %></h1>
      <%= simple_form_for @haircut do |f| %>
        <%= f.input :member,
            label: "Name", input_html: { class: "text-input--no-placeholder" },
            label_html: { class: "text-label" } %>
        <%= f.input :about, input_html: { class: "text-input--no-placeholder" },
            label_html: { class: "text-label" } %>
        <%= f.input :primary, label: "Display member at top",
                    input_html: { class: "boolean-input" } %>
        <div class="edit-photo">
          <label class="photo-label text-label">Photo</label>
          <%= image_tag photo_url(@haircut), class: "current-photo" %>
          <% unless @haircut.photo.to_s == "/assets/no_photo.jpg" %>
            <div class="crop-photo">
              <%= f.cropbox :photo, width: "320", disabled: true %>
            </div>
          <% end %>
          <div class="upload-haircut-image--edit">
            <label for="haircut_photo" class="upload-haircut-image__label">
              Upload a new photo
            </label>
            <%= f.file_field :photo, class: "upload-haircut-image__input" %>
          </div>
          <div class="edit-photo__links">
            <a href="#" class="edit-photo__new">Upload a new photo</a>
            <% unless @haircut.photo.to_s == "/assets/no_photo.jpg" %>
              <a href="#" class="edit-photo__crop">Adjust this photo</a>
            <% end %>
            <a href="#" class="edit-photo__cancel">Cancel</a>
          </div>
        </div>
        <%= f.submit "Save Member", class: "button button--save-haircut" %>
      <% end %>
    </div>
  </div>
</section>

<%= content_for :javascript do %>
  <% javascript_tag 'new CutTheChi.EditHaircut(); new Papercrop();' %>
<% end %>
