<% meta title: "Bidding | Cut the Chi | Theta Chi at University of Arizona" %>

<section class="haircut-info">
  <div class="container">
    <%= image_tag "haircut_info_img.jpg", width: "300", height: "300",
          class: "haircut-info__img" %>
    <div class="haircut-info__inner-wrap">
      <h1 class="heading">Make a bid. Make a difference.</h1>
      <p>
        Every dollar you give is another dollar we'll give to
        <a href="http://www.ssbtr.org/" target="_blank">Students Supporting
        Brain Tumor Research</a>. A winning bid means you'll get to give one of
        us gentlemen a haircut... any haircut. Make it crazy. Make it handsome.
        Make it revolting. And we promise we'll keep it. Well, for at least a day.
      </p>
      <%= link_to "Learn more about the event", about_path,
          class: "button haircut-info__learn-more-button" %>
    </div>
  </div>
</section>
<section class="search-and-filter" id="search">
  <div class="container">
    <%= render partial: "filter_haircuts" %>
    <div class="haircut-form" id="search_haircuts">
      <div class="search-wrapper">
        <i class="ion-android-search icon search-icon"></i>
        <%= text_field_tag :query, params[:query],
            class: "text-input search-input", placeholder: "Member's name" %>
      </div>
      <%= link_to "Search", search_haircuts_path(:query),
          id: "haircut_search_submit", class: "button search-button" %>
    </div>
  </div>
</section>
<section class="haircuts" id="haircuts">
  <div class="container">
    <% if successful_bid %>
      <input type="checkbox" id="close_successful_bid">
      <label class="successful-bid hidden" for="close_successful_bid">
        <%= successful_bid %>
      </label>
    <% end %>

    <% cache([cache_key_for_haircuts]) do %>
      <% if @haircuts.empty? %>
        <p>Sorry, no results found</p>
      <% else %>
        <div class="haircut-items" id="haircuts_wrapper" data-turbolinks-temporary>
          <%= render @haircuts %>
        </div>
      <% end %>
    <% end %>

    <% if @search.present? %>
      <div class="haircuts__show-all">
        <%= link_to "Show All", haircuts_path, class: 'button' %>
      </div>
    <% end %>

    <% unless @search.present? %>
      <div class="paginate-wrapper" id="paginate_wrapper">
        <%= paginate @haircuts %>
      </div>
    <% end %>
  </div>
</section>

<%= content_for :javascript do %>
  <%= javascript_tag "new CutTheChi.Haircut(#{@page})" if current_user.present? %>
  <%= javascript_tag 'new CutTheChi.LazyLoadHaircutImages()' %>
<% end %>
