<% meta title: "Bidding | Cut the Chi | Theta Chi at University of Arizona" %>

<section class="haircut-info">
  <div class="container">
    <%= image_tag "haircut_info_img.jpg", width: "300", height: "300",
          class: "haircut-info__img" %>
    <div class="haircut-info__inner-wrap">
      <h1 class="heading">Make a bid. Make a difference.</h1>
      <p>
        Every dollar you give is another dollar we'll give to
        <a href="http://www.ssbtr.org/" target="_blank">Students Supporting
        Brain Tumor Research</a>. And winning a bid means you'll get to give a
        member a haircut... any haircut. Make it crazy. Make it handsome. Make
        it revolting. And we promise we'll keep it. Well, for at least a day.
      </p>
      <%= link_to "Learn more about the event", about_path,
          class: "button haircut-info__learn-more-button" %>
    </div>
  </div>
</section>
<section class="search-and-filter" id="search">
  <div class="container">
    <%= render partial: "filter_haircuts" %>
    <%= simple_form_for :haircut,
        html: { id: "search_haircuts", class: "haircut-form", method: "get",
        role: "search" } do %>
      <div class="search-wrapper">
        <i class="ion-android-search icon search-icon"></i>
        <%= text_field_tag :search, params[:search],
            class: "text-input search-input", placeholder: "Member's name" %>
      </div>
      <%= submit_tag "Search", id: "haircut_search_submit",
          class: "button search-button", name: nil %>
    <% end %>
  </div>
</section>
<section class="haircuts" id="haircuts">
  <div class="container">
    <% if successful_bid %>
      <div class="successful-bid">
        <%= successful_bid %>
      </div>
    <% end %>

    <% if @haircuts.empty? %>
      <p>Sorry, no results found</p>
    <% end %>

    <div class="haircut-items" id="haircuts-inner-wrapper">
      <%= render @haircuts unless @haircuts.empty? %>
    </div>

    <% if @search %>
      <div class="haircuts__show-all">
        <%= link_to "Show All", haircuts_path %>
      </div>
    <% end %>

    <div class="paginate-wrapper" id="paginate-wrapper">
      <%= paginate @haircuts %>
    </div>
  </div>
</section>

<%= content_for :javascript do %>
  <%= javascript_tag 'new CutTheChi.Haircut()' %>
<% end %>
