<p><%= image_tag(photo_url(@haircut), width: "364", height: "242") %><br>
<strong><%= @haircut.member %></strong><br>
<%= @haircut.about %></p>

<% if admin_signed_in? %>
  <p>Current bid: <%= highest_bid(@haircut) %>

  <% unless @bids.empty? %>
    <table>
      <tr>
        <th>Amount</th>
        <th>Bidder Name</th>
        <th>Bidder Email</th>
        <th>Placed On</th>
      <% @bids.order('amount DESC').each do |bid| %>
        <tr>
          <td data-title="Amount"><%= number_to_currency(bid.amount) %></td>
          <td data-title="Bidder Name"><%= bid.user.name %></td>
          <td data-title="Bidder Email"><%= bid.user.email %></td>
          <td data-title="Placed On"><%= format_date(bid.created_at) %></td>
        </tr>
      <% end %>
    </table>
  <% end %>

<% elsif user_signed_in? %>
  <p>Current bid: <%= highest_bid(@haircut) %>

  <p>
    <%= simple_form_for([@haircut, @haircut.bids.build]) do |f| %>
      <%= f.input :amount %>
      <%= f.submit %>
    <% end %>
  </p>

<% end %>