<% meta title: "Edit Account | Cut the Chi | Theta Chi at University of Arizona" %>

<section class="register">
  <div class="container">
    <div class="register__inner-wrapper">
      <h1 class="heading devise-heading">
        Edit <%= resource_name.to_s.humanize %>
      </h1>

      <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :email, :required => true, :autofocus => true,
                      label: false, placeholder: "Your Email",
                      input_html: { class: "text-input" } %>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
          <% end %>

          <small class="hint">Leave blank if you don't want to change it.</small>
          <%= f.input :password, :autocomplete => "off", :required => false,
                      label: false, placeholder: "New Password",
                      input_html: { class: "text-input" } %>
          <%= f.input :password_confirmation, :required => false,
                      label: false, placeholder: "Password Confirmation",
                      input_html: { class: "text-input" } %>
          <small class="hint">Enter your current password to confirm changes.</small>
          <%= f.input :current_password, :required => true,
                      label: false, placeholder: "Current Password",
                      input_html: { class: "text-input", required: true } %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Update", class: "button" %>
        </div>
      <% end %>

      <div class="devise-links">
        Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you you want to delete your account?#{ ' All of your bids will be lost if you do.' if resource_name.to_s == 'user' }" }, :method => :delete %>
      </div>
    </div>
  </div>
</section>