<% meta title: "Register | Cut the Chi | Theta Chi at University of Arizona" %>

<section class="register">
  <div class="container">
    <div class="register__inner-wrapper">
      <h1 class="heading devise-heading heading--small">
        <%= "Admin " if resource_name.to_s == "admin" %>Register
      </h1>

      <%= simple_form_for(resource, :as => resource_name,
          :url => registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :first_name, label: "First Name (If you're a human,
                                           don't fill out this field!)",
                      wrapper_html: { class: "visually-hidden" },
                      label_html: { class: "visually-hidden" },
                      input_html: { class: "visually-hidden" } %>
          <%= f.input :name, :required => true, :autofocus => true,
                      label: false, placeholder: "Your Name",
                      input_html: { class: "text-input", required: true } %>
          <%= f.input :email, :required => true, label: false,
                      placeholder: "Your Email",
                      input_html: { class: "text-input", required: true } %>
          <%= f.input :password, :required => true, label: false,
                      placeholder: "Password",
                      input_html: { class: "text-input", required: true } %>
          <%= f.input :password_confirmation, :required => true, label: false,
                      placeholder: "Confirm Password",
                      input_html: { class: "text-input", required: true } %>
          <% if resource_name.to_s == 'admin' %>
            <%= f.input :invite_code, as: :string, :required => true,
                        label: false, placeholder: "Registration Code",
                        input_html: { class: "text-input", required: true } %>
          <% end %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Register#{ " **" if resource_name.to_s == "user" }", class: "button" %>
        </div>

        <% if resource_name.to_s == "user" %>
          <div class="session-info">
            <a class="session-info__show-more" href="javascript:void(0);">
            Why do I need to register?
            </a>
            <div class="session-info__extended">
              For your security and for our convenience we don't take any
              credit card information on this site. As such, registering just
              allows us to ensure that each bid we receive is made by a
              real person.
            </div>
          </div>

          <div class="registration-disclaimer">
            <small>
              ** By registering you agree to pay Theta Chi, Beta Iota, for total
              amount of your winning bids, in full, by or on the date of the
              event, Fri, May 2, 2014.
            </small>
          </div>
        <% end %>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</section>
