<h2>Sign up</h2>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :first_name, label: "First Name (If you're a human, don't fill out this field!)",
                wrapper_html: { class: "visually-hidden" },
                label_html: { class: "visually-hidden" },
                input_html: { class: "visually-hidden" } %>
    <%= f.input :name, :required => true, :autofocus => true %>
    <%= f.input :email, :required => true %>
    <%= f.input :password, :required => true %>
    <%= f.input :password_confirmation, :required => true %>
    <% if resource_name.to_s == 'admin' %>
      <%= f.input :invite_code, as: :string, :required => true %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
