<section class="bidding-info">
  <div class="container">
    <div class="bidding-total">
      <h5 class="bidding-total__h5">Raised:</h5>
      <div class="bidding-total__sum"><i class="ion-medkit bidding-info__icon"></i><%= bid_total %></div>
    </div>
    <div class="bidding-time-remaining">
      <h5 class="bidding-time-remaining__h5">Bidding Ends:</h5>
      <div class="bidding-time-remaining__time"><i class="ion-clock bidding-info__icon"></i><%= time_left_formatted %></div>
    </div>
    <div class="bidding-count">
      <h5 class="bidding-count__h5">Unique Bids:</h5>
      <div class="bidding-count__sum"><i class="ion-earth bidding-info__icon"></i><%= bid_count %></div>
    </div>
  </div>
</section>
<footer class="main-footer">
  <div class="container container--short">
    <nav class="footer-nav" role="navigation">
      <%= link_to "Home".html_safe, root_path, class: "footer-nav__link" %>
      <span class="footer-nav__separator">•</span>
      <%= link_to "Bidding".html_safe, haircuts_path, class: "footer-nav__link" %>
      <span class="footer-nav__separator">•</span>
      <%= link_to "Buy a Shirt".html_safe, "http://thesociallife.com/", target: "_blank", class: "footer-nav__link" %>
      <span class="footer-nav__separator">•</span>
      <%= link_to "The Event".html_safe, about_path, class: "footer-nav__link" %>
      <span class="footer-nav__separator">•</span>
      <%= link_to "The Charity".html_safe, "http://www.ssbtr.org/", target: "_blank", class: "footer-nav__link" %>
      <span class="footer-nav__separator">•</span>
      <%= link_to "Contact Us".html_safe, "mailto:philanthropy.betaiota.thetachi@gmail.com", class: "footer-nav__link" %>
    </nav>
    <small class="copyright" role="contentinfo">&copy; Copyright 2014, Theta Chi - Beta Iota Chapter</small>
  </div>
</footer>
