<%= render partial: '/shared/bidding_info' %>
<footer class="main-footer" data-turbolinks-permanent>
  <div class="container container--short">
    <nav class="footer-nav" role="navigation">
      <%= link_to "Home".html_safe, root_path, class: "footer-nav__link" %>
      <span class="footer-nav__separator">•</span>
      <%= link_to "Bidding".html_safe, haircuts_path, class: "footer-nav__link" %>
      <span class="footer-nav__separator">•</span>
      <%= link_to "The Event".html_safe, about_path, class: "footer-nav__link" %>
      <!-- <span class="footer-nav__separator">•</span>
      <%= link_to "Buy a Shirt".html_safe, "http://thesociallife.com/",
            target: "_blank", class: "footer-nav__link" %> -->
      <span class="footer-nav__separator">•</span>
      <%= link_to "The Charity".html_safe, "http://www.ssbtr.org/",
          target: "_blank", class: "footer-nav__link" %>
      <span class="footer-nav__separator">•</span>
      <%= link_to "Contact Us".html_safe,
          "mailto:philanthropy.betaiota.thetachi@gmail.com",
          class: "footer-nav__link" %>

      <% if admin_signed_in? %>
      <div class="footer-nav__user-links">
        <%= link_to "All Bids", show_bids_path, class: "footer-nav__link" %>
        <span class="footer-nav__separator">•</span>
        <%= link_to "All Users", show_users_path, class: "footer-nav__link" %>
        <span class="footer-nav__separator">•</span>
        <%= link_to "Add Member", new_haircut_path, class: "footer-nav__link" %>
        <span class="footer-nav__separator">•</span>
        <%= link_to "App Config", edit_system_config_path,
            class: "footer-nav__link" %>
        <span class="footer-nav__separator">•</span>
        <%= link_to "Edit Account", edit_admin_registration_path,
            class: "footer-nav__link" %>
      </div>
      <% end %>
    </nav>
    <small class="copyright" role="contentinfo">
      &copy; Copyright <%= Time.now.year %>, Theta Chi - Beta Iota Chapter
    </small>
  </div>
</footer>

<% content_for :javascript do %>
  <%= javascript_tag do %>
    new CutTheChi.BiddingInfo();
  <% end %>
<% end %>
