<header class="<%= controller_name == "home" && action_name == "index" ? "main-header--home" : "main-header" %>">
  <nav class="main-nav" role="navigation">
    <div class="container container--no-padding">
      <div class="main-nav__site-links">
        <%= link_to "cutthechi", root_path,
            class: "main-nav__site-link main-nav__site-link--logo" %>
        <a href="#" class="main-nav__site-link open-menu" id="open_menu">
          <i class="ion-navicon icon-large icon"></i>Menu
        </a>
      </div>
      <div class="main-nav__user-links">
        <% if admin_signed_in? %>
          <div class="user-nav-wrap">
            <a class="main-nav__user-link" id="show_user_links" href="#">
              Welcome, <%= first_name(current_admin.name) %>
              <i class="icon--right ion-arrow-down-b"></i>
            </a>
            <div class="user-nav" id="user_nav">
              <%= link_to "All Bids", show_bids_path, class: "user-nav__link" %>
              <%= link_to "All Users", show_users_path, class: "user-nav__link" %>
              <%= link_to "Add Member", new_haircut_path, class: "user-nav__link" %>
              <%= link_to "App Config", edit_system_config_path,
                  class: "user-nav__link" %>
              <%= link_to "Edit Account", edit_admin_registration_path,
                  class: "user-nav__link" %>
              <%= link_to "Log out", destroy_admin_session_path,
                  class: "user-nav__link", method: :delete %>
            </div>
          </div>
        <% elsif user_signed_in? %>
          <div class="user-nav-wrap">
            <a class="main-nav__user-link" id="show_user_links" href="#">
              Welcome, <%= first_name(current_user.name) %>
              <i class="icon--right ion-arrow-down-b"></i></a>
            </a>
            <div class="user-nav" id="user_nav">
              <%= link_to "Your Bids", show_bids_path, class: "user-nav__link" %>
              <%= link_to "Your Account", edit_user_registration_path,
              class: "user-nav__link" %>
              <%= link_to "Log out", destroy_user_session_path,
              class: "user-nav__link", method: :delete %>
            </div>
          </div>
        <% else %>
          <%= link_to "<i class='ion-person-add icon'></i>Register".html_safe,
              register_path, class: "main-nav__user-link" %>
          <%= link_to "<i class='ion-person icon'></i>Log In".html_safe,
              login_path, class: "main-nav__user-link" %>
        <% end %>
      </div>
    </div>
  </nav>

  <nav class="site-nav" id="site_menu" role="navigation">
    <a href="#" id="close_menu" class="site-nav__close">
      <i class="ion-ios7-close-empty"></i>
    </a>
    <ul class="site-nav__inner-wrap">
      <li class="site-nav__li">
        <%= link_to "<i class='ion-home icon--spaced'></i>
            Home".html_safe, root_path, class: "site-nav__link" %>
      </li>
      <li class="site-nav__li">
        <%= link_to "<i class='ion-person-stalker icon--spaced'></i>
            Bidding".html_safe, haircuts_path, class: "site-nav__link" %>
      </li>
      <li class="site-nav__li">
        <%= link_to "<i class='ion-calendar icon--spaced'></i>
            The Event".html_safe, about_path, class: "site-nav__link" %>
      </li>
      <!-- <li class="site-nav__li">
        <%= link_to "<i class='ion-ios7-cart icon--spaced'></i>
            Buy a Shirt".html_safe, "http://thesociallife.com/",
            target: "_blank", class: "site-nav__link" %>
      </li> -->
      <li class="site-nav__li">
        <%= link_to "<i class='ion-heart icon--spaced'></i>
            The Charity".html_safe, "http://www.ssbtr.org/", target: "_blank",
            class: "site-nav__link" %>
      </li>
      <li class="site-nav__li">
        <%= link_to "<i class='ion-paper-airplane icon--spaced'></i>
            Contact Us".html_safe, "mailto:philanthropy.betaiota.thetachi@gmail.com",
            class: "site-nav__link" %>
      </li>
    </ul>
  </nav>
</header>

<%= content_for :javascript do %>
  <%= javascript_tag 'new CutTheChi.Nav();' %>
<% end %>
