<div class="admin-bids">
  <% if @haircuts.empty? %>
    <strong>No members created yet</strong>
  <% else %>
    <table class="admin-bids__table">
      <tr class="admin-bids__bids-header">
        <th class="admin-bids__bid-column">Member</th>
        <th class="admin-bids__bid-column">Current Bid</th>
        <th class="admin-bids__bid-column">Bidder</th>
        <th class="admin-bids__bid-column">Bidder Email</th>
        <th class="admin-bids__bid-column">Placed</th>
      </tr>
      <% @haircuts.each do |haircut| %>
        <tr class="admin-bids__bids-row">
          <td class="admin-bids__bid-column">
            <%= link_to haircut.member, show_haircut_path(haircut.url) %>
          </td>
          <td class="admin-bids__bid-column"><%= highest_bid(haircut) %></td>
          <td class="admin-bids__bid-column"><%= highest_bidder_name(haircut) %></td>
          <td class="admin-bids__bid-column"><%= highest_bidder_email(haircut) %></td>
          <td class="admin-bids__bid-column"><%= highest_bidder_placed(haircut) %></td>
        </tr>
      <% end %>
    </table>
  <% end %>
</div>
