<section class="home-banner" role="banner">
  <div class="home-bg"></div>
  <div class="container container--small">
    <%= image_tag "cutthechi.svg", width: "341", height: "182",
        onerror: "this.onerror=null; this.src='/assets/cutthechi.png'",
        alt: "Cut the Chi" %>
    <h1 class="home-banner__h1">It's time to Cut the Chi.</h1>
    <p class="home-banner__p">
      Let's cut to the chase. It's <strong>U of A Theta Chi's</strong> annual
      philanthropy event. We provide the hair and you provide the cut... and the
      money too. But it all goes to a good cause. Your bids directly support
      brain tumor research. You'll be our mane associates in the fight against
      cancer. That's right, give a guy a funny haircut and give cancer the ol'
      one, two. You don't have to be Sherlock Combs to deduce that this is a
      great thing, so play your part, <strong>because you only have
      till May 1st.</strong>
    </p>
  </div>
  <div class="secondary-container sponsors">
    <h5 class="sponsor-heading">Sponsored by</h5>
    <%= image_tag "toniguy.svg", width: "220", class: "toniguy spnosor-logo",
        onerror: "this.onerror=null; this.src='/assets/cutthechi.png'" %>
  </div>
</section>
<section class="home-haircuts">
  <div class="container">
    <% if @haircuts.empty? %>
      <p class="center-text">No members yet to bid on</p>
    <% end %>
    <div class="haircut-items">
      <% @haircuts.each do |haircut| %>
        <%= render partial: "/haircuts/haircut", locals: { haircut: haircut } %>
      <% end %>
    </div>
    <div class="button-wrap">
      <%= link_to "See All Members", haircuts_path,
          class: "lg-button button--see-all-members" %>
    </div>
  </div>
</section>

<%= content_for :javascript do %>
  <%= javascript_tag 'new CutTheChi.Home()' %>
<% end %>
