<section class="home-banner" role="banner">
  <div class="home-bg"></div>
  <div class="container container--small">
    <%= image_tag "cutthechi.svg", width: "341", height: "182",
        onerror: "this.onerror=null; this.src='#{asset_path('cutthechi.png')}'",
        alt: "Cut the Chi" %>
    <h1 class="home-banner__h1">Time to Cut the Chi.</h1>
    <p class="home-banner__p">
      <%= event_date %>, <%= event_year %>.<br>
      We're back. So is our hair.
    </p>
  </div>
  <div class="secondary-container sponsors">
    <!-- <h5 class="sponsor-heading">Sponsored by</h5>
    <%= image_tag "toniguy.svg", width: "220", class: "toniguy spnosor-logo",
        onerror: "this.onerror=null; this.src='#{asset_path('toniguy.png')}'" %> -->
  </div>
</section>
<section class="home-haircuts">
  <div class="container">
    <% if @haircuts.empty? %>
      <p class="center-text">No members yet to bid on</p>
    <% end %>
    <div class="haircut-items">
      <% @haircuts.each do |haircut| %>
        <%= render partial: "/haircuts/haircut", locals: { haircut: haircut } %>
      <% end %>
    </div>
    <div class="button-wrap">
      <%= link_to "See All Members", haircuts_path,
          class: "lg-button button--see-all-members" %>
    </div>
  </div>
</section>

<%= content_for :javascript do %>
  <%= javascript_tag 'new CutTheChi.Home()' %>
  <%= javascript_tag 'new CutTheChi.LazyLoadHaircutImages()' %>
<% end %>
