<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <%= metamagic title: "Cut the Chi | Theta Chi at University of Arizona" %>
  <script>0>("; "+document.cookie).indexOf("; is_retina=")&&(document.cookie="is_retina= "+(1.25<=window.devicePixelRatio)+";path=/;",1.25<=window.devicePixelRatio&&window.location.reload());</script>
  <link rel="shortcut icon" href="favicon.ico?v=3">
  <link href='http://fonts.googleapis.com/css?family=Roboto:300,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class="hover<%= " bidding-over" unless bidding_is_open? %>">
  <div class="no-js-warning">
    Hey friend, this site takes full advantage of javascript. We really
    recommend you explore it with <strong>javascript turned on</strong>.
  </div>
  <!--[if lt IE 8]>
  <div class="browsehappy">
    Hey friend, you're using an <strong>outdated</strong> browser. Please
    <a href="http://browsehappy.com/" class="warning-link">upgrade your
    browser</a> to improve your experience.
  </div>
  <![endif]-->
  <div class="bidding-over-alert">
    Unfortunately, bidding is over for the year. We hope you enjoyed the event
    though and we look forward to seeing you back next year!
  </div>

  <div class="main-content-wrapper">
    <%= render partial: "/shared/nav" %>
    <%= yield %>
  </div>
  <%= render partial: "/shared/footer" %>

  <%= content_for :javascript do %>
    <%= javascript_tag 'new CutTheChi.FasterPainting();' %>
    <%= javascript_tag 'new CutTheChi.BetterPlaceholders();' %>
  <% end %>
  <%= yield :javascript %>

  <% if current_admin && current_admin.email == "kevin.spangenberg@gmail.com" %>
    <script>alert("Oh hey bro! Like, my real bro. Not a frat bro. Hope you're liking the site. I wonder if this will get annoying?")</script>
  <% end %>
</body>
</html>
