<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <%= metamagic title: "Cut the Chi | Theta Chi at University of Arizona" %>
  <meta name="viewport" content="width=768, initial-scale=1">

  <script>0>("; "+document.cookie).indexOf("; is_retina=")&&(document.cookie="is_retina= "+(1.25<=window.devicePixelRatio)+";path=/;",1.25<=window.devicePixelRatio&&window.location.reload());</script>
  <script>window.history&&history.pushState&&document.documentElement.classList.add("pushstate");</script>

  <%= favicon_link_tag "/favicon.ico" %>

  <link href='http://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

  <%= csrf_meta_tags unless response.cache_control[:public] %>
</head>
<body class="hover <%= bidding_is_open? ? 'bidding-open' : 'bidding-over' %> <%= current_admin.present? ? 'authenticated-admin' : current_user.present? ? 'authenticated' : 'anonymous' %>">
  <div class="no-js-warning">
    Hey friend, this site takes full advantage of javascript. We really
    recommend you explore it with <strong>javascript turned on</strong>.
  </div>
  <div class="browsehappy">
    Hey friend, you're using an <strong>outdated</strong> browser. Please
    <a href="http://browsehappy.com/" class="warning-link">upgrade your
    browser</a> to improve your experience.
  </div>
  <div class="bidding-over-alert">
    Unfortunately, bidding is over for the year. We hope you enjoyed the event
    though and we look forward to seeing you back next year!
  </div>

  <div class="main-content-wrapper">
    <%= render partial: "/shared/nav" %>
    <main>
      <%= yield %>
    </main>
  </div>
  <%= render partial: "/shared/footer" %>

  <%= content_for :javascript do %>
    <%= javascript_tag 'new CutTheChi.FasterPainting();' %>
    <%= javascript_tag 'new CutTheChi.BetterPlaceholders();' %>
    <%= javascript_tag do %>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-49882324-1', 'auto');
      ga('send', 'pageview');
    <% end %>
  <% end %>
  <%= yield :javascript %>
</body>
</html>
